<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Edit person</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        label {
            display: inline-block;
            width: 100px;
        }
        input:read-only {
            background: lightgray;
        }
        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<span th:if="${create == false}">
    <!-- Book edit -->
    <form id="edit-form" th:action="@{/book/edit}" th:object="${book}" action="books.html" method="post">
        <h1>Edit Book</h1>

        <div class="row">
            <label for="id-edit">id:</label>
            <input id="id-edit" type="number" name="id" readonly="readonly" th:value="*{id}" value="1"/>
        </div>

        <div class="row">
            <label for="title-edit">title:</label>
            <input id="title-edit" type="text" name="title" th:value="*{title}" value="Book Title"/>
        </div>

        <div class="row">
            <label for="isbn-edit">isbn:</label>
            <input id="isbn-edit" type="text" name="isbn" th:value="*{isbn}" value="Book ISBN"/>
        </div>

        <div class="row">
            <label for="authors-edit">authors:</label>
            <select id="authors-edit" name="authors" th:field="*{authors}" size="10" multiple="multiple">
                <option th:each="author : ${allAuthors}"
                        th:value="${{author.id}}" th:text="${author.fullname}">
                    Book author
                </option>
            </select>
        </div>

        <div class="row">
            <label for="genres-edit">genres:</label>
            <select id="genres-edit" name="genres" th:field="*{genres}" size="10" multiple="multiple">
                <option th:each="genre : ${allGenres}"
                        th:value="${{genre.id}}" th:text="${genre.name}">
                    Book genre
                </option>
            </select>
        </div>

        <div class="row">
            <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
        </div>
    </form>
</span>


<span th:if="${create == true}">
    <!-- Book create -->
    <form id="create-form" th:action="@{/book/insert}" action="books.html" method="post">
        <h1>Create Book</h1>

        <div class="row">
            <label for="title-create">title:</label>
            <input id="title-create" type="text" name="title" value="Book Title"/>
        </div>

        <div class="row">
            <label for="isbn-create">isbn:</label>
            <input id="isbn-create" type="text" name="isbn" value="Book ISBN"/>
        </div>

        <div class="row">
            <label for="authors-create">authors:</label>
            <select id="authors-create" name="authors" size="10" multiple="multiple">
                <option th:each="author : ${allAuthors}"
                        th:value="${{author.id}}" th:text="${author.fullname}">
                    Book author
                </option>
            </select>
        </div>

        <div class="row">
            <label for="genres-create">genres:</label>
            <select id="genres-create" name="genres" size="10" multiple="multiple">
                <option th:each="genre : ${allGenres}"
                        th:value="${{genre.id}}" th:text="${genre.name}">
                    Book genre
                </option>
            </select>
        </div>

        <div class="row">
            <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
        </div>
    </form>
</span>

</body>
</html>
