<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quiz" class="ru.shishmakov.service.Quiz">
        <constructor-arg ref="reader"/>
    </bean>

    <bean id="reader" class="ru.shishmakov.service.Reader" init-method="init">
        <constructor-arg name="source" value="#{ systemProperties['question.file'] ?: 'questions.csv' }"/>
    </bean>

</beans>